<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
  <p class="col-md-8 fs-4">
    This Quiz will contain total of 9 questions. Each Question holds 10 points
  </p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct question give you 10 points</li>
    <li>Incorrect question give you -10 points</li>
    <li>You will have 60 seconds to answer each question</li>
    <li>Refreshing the page will reset Quiz</li>
  </ol>
  <h1 style="font-family: cursive; text-align: center">
    All the best! <i class="fa fa-smile-o" aria-hidden="true"></i>
  </h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter Your name</label>
    <input type="text" class="form-control" #name />
  </div>
  <button
    class="btn btn-primary btn-lg"
    routerLink="/question"
    (click)="startQuiz()"
  >
    Enter the Quiz!
  </button>
</div>
